[submodule "zsh_custom_dont_stow/.oh-my-zsh/custom/plugins/zsh-completions"]
	path = zsh_custom_dont_stow/.oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh_custom_dont_stow/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh_custom_dont_stow/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
