[user]
	signingkey = 22E34B67F7E7EA9E
	name = Ricky12Awesome
	email = 29931568+Ricky12Awesome@users.noreply.github.com
[commit]
	gpgsign = true
[core]
	pager = bat --plain
	autocrlf = input
[init]
	defaultBranch = main
[credential]
	provider = generic
